@import url('https://fonts.googleapis.com/css2?family=Space+Grotesk:wght@300..700&display=swap');

:root{
    --blue: #1A3347;
    --cyan: #588CA2;
    --green: #1D322B;
    --white: #CACBCC;
    --un: #161F28;
    --ff-pop:  "Poppins", sans-serif;
}

@font-face {
    font-family: ink;
    src: url(Inkfree.ttf);
}
body{
    background-color: #161F28;
}
::selection{
    background-color: var(--cyan);
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    color: var(--white);
}


.base{
    height: 100vh;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: var(--ff-pop);
    font-weight: 200;
    position: relative;
    /* background: url(Img/windin.jpg) no-repeat center/cover; */
   
}
.img{
    position: absolute;
    background: no-repeat center;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
}


.glass-bg{
    min-width: 15rem;
    width: 35%;
    text-align: center;
    display: flex;
    flex-direction: column;
    gap: 0.75rem;
    background: rgba( 226, 225, 225, 0.1 );
    backdrop-filter: blur(0.8px);
    border-radius: 0.75rem;
    padding: 2.25rem;
    font-family: ink;
    line-height: 1.75rem;
}
.quotes-line{
    font-size: clamp(0.75rem, 0.033rem + 3.475vw, 3.25);
}
.writer{
    font-size: clamp(0.55rem, 0.45rem + 0.5333vw, 0.95rem);
    text-transform: uppercase;
    text-align: end;
    font-style: italic;
}

.btn-warper button{
    padding: 0.55rem;
    border: 0;
    border-radius: .15rem;
    font-weight: 600;
    color: var(--blue);
    transition: all 0.2s ease-in-out;
}

.new-Q:hover{
    background: rgba(219, 220, 219, 0.479);
    backdrop-filter: blur(0.8px);
    cursor: pointer;
    color: var(--white);
}

.fade{
    animation: fadeUp 1.5s ease-in-out;
}

@keyframes fadeUp {
    0%{
        opacity: 0;
    }
    100%{
        opacity: 100%;
    }
}


